<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myboard">
	<select id="selectlist" resultType="BoardDto">
		SELECT MYNO, MYNAME, MYTITLE, MYCONTENT, MYDATE
		FROM MYBOARD
		ORDER BY MYNO DESC
	</select>
	
	<select id="selectone" parameterType="int" resultType="BoardDto">
		SELECT MYNO, MYNAME, MYTITLE, MYCONTENT, MYDATE
		FROM MYBOARD
		WHERE MYNO = #{myno}
	</select>
	
	<insert id="insert" parameterType="BoardDto">
		INSERT INTO MYBOARD
		VALUES(MYNOSEQ.NEXTVAL, #{myname}, #{mytitle}, #{mycontent}, SYSDATE)
	</insert>
	
	<update id="update" parameterType="BoardDto">
		UPDATE MYBOARD SET
		MYTITLE = #{mytitle}, MYCONTENT = #{mycontent}
		WHERE MYNO = #{myno}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM MYBOARD
		WHERE MYNO = #{myno}
	</delete>
</mapper>
