<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	
	<bean id="singleton" class="com.test01.AbstractTest" factory-method="getInstance"></bean>
	<!-- factory-method : getInstance를 잡아줌 -->
	<!-- factory-method : 만들주는 메소드 -->
	<!-- singleton이라는 이름으로 getInstance형태로 만들어달라! -->
	<!-- 특정 메소드를 통해서 객체를 생성할 수 있다. -->
	
</beans>
