<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="jiyoong" class="com.test03.Engineer">
		<constructor-arg value="한지용"/>
		<constructor-arg value="5000000"/>
		<property name="dept" value="기술팀"/>
	</bean>
	
	<bean id="jeongeun" class="com.test03.Developer">
		<constructor-arg value="박정은"/>
		<constructor-arg value="10000000"/>
		<property name="dept" value="개발팀"/>
	</bean>
</beans>
