<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- construction injection -->
	<bean id="jiyoong" class="com.test02.Address">
		<constructor-arg index="0" value="한지용"></constructor-arg>
		<constructor-arg index="1" value="의왕"></constructor-arg>
		<constructor-arg index="2" value="010-0000-0000"></constructor-arg>
	</bean>

	<bean id="jeongeun" class="com.test02.Address">
		<constructor-arg index="0" value="박정은"></constructor-arg>
		<constructor-arg index="1" value="수원"></constructor-arg>
		<constructor-arg index="2" value="010-0000-0000"></constructor-arg>
	</bean>
</beans>
